//colors

$color-blue:        #39538A;
$color-blue--dark:  #2C2F3B;
$color-peach:       #DEA08D;
$color-mint:        #ADE8C0;
$color-white:       #fff;

//breakpoints
//TODO: add breakpoint variables
